{% extends 'base.html.twig' %}

{% block title %}
  {{ boardgame.title }}
{% endblock %}

{% block body %}
<div class="wrapper">
    <article>
      <h1>
        {{ boardgame.title }}
      </h1>
      <img src={{ asset('images/' ~ boardgame.image) }} alt="{{ boardgame.title }}" />
      <p>
        Nombre de joueurs : {{ boardgame.playerCount }}
      </p>
      <p>
        Durée d'une partie : {{ boardgame.durationMinutes }} minutes
      </p>
      <p>
        Âge minimum : {{ boardgame.minAge }}
      </p>
      <p>
        Date de publication : {{ boardgame.publicationDate|format_datetime(pattern = 'y') }}
      </p>
      <p>
        Description :<br/> {{ boardgame.description|nl2br }}
      </p>
      <p>
        Matériel de jeu :<br/> {{ boardgame.contents|nl2br }}
      </p>
      <div class="categories" style="margin-bottom: var(--typography-spacing-vertical);">
        {% for category in boardgame.categories %}
          {% dump category %}
          <a href="{{ path('app_category_details', { id: category.id }) }}" role="button" class="secondary outline">
            {{ category.label }}
          </a>
        {% endfor %}
      </div>
      <a href="{{ path('app_board_game') }}" role="button">
        &larr; Tous les jeux
      </a>
    </article>
  </div>
{% endblock %}
