{% extends 'base.html.twig' %}

{% block title %}Voir les jeux{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } img { max-height: 256px; margin-bottom: 2rem; object-fit: cover; border-radius: 0.2rem; }
</style>

<div class="example-wrapper">
    {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">{{ message }}</div>
            {% endfor %}
    {% endfor %}

    <h1>Voir les jeux</h1>
    {% for boardgame in boardgames %}
        <article>
            <h2>{{ boardgame.title }}</h2>
            <img src='/images/{{ boardgame.image }}' alt={{ boardgame.title }} />
            {% if boardgame.description|length < 256 %}
                <p>Description : {{ boardgame.description }}</p>
            {% else %}
                <p>Description : {{ boardgame.description|slice(0, 255) ~ '...' }}</p>
            {% endif %}
            <a href="{{ path("app_board_game_details", { id: boardgame.id }) }}">Voir détails</a>
        </article>
    {% endfor %}
    {# <p>{{ dump(boardgames) }}</p> #}
</div>
{% endblock %}
