{% extends 'base.html.twig' %}

{% block title %}
  {{ category.label }}
{% endblock %}

{% block body %}
  <div class="wrapper">
   {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="flash-{{ label }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
    
    <article>
      <h1>
        {{ category.label }}
      </h1>
      <p>
        {{ category.description }}
      </p>
      {% for game in category.boardgames %}
        {{
          include(
            'board_game/_board_game.html.twig',
            {
              boardgame: game
            }
          )
        }}
      {% endfor %}
      <a href="{{ path('app_category') }}">&larr; Toutes les catégories</a>
    </article>
  </div>
{% endblock %}
