{% extends 'base.html.twig' %}

{% block title %}
  Voir les catégories
{% endblock %}

{% block body %}
  <div class="wrapper">
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="flash-{{ label }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    <h1>
      Voir les catégories
    </h1>
    {% for category in categories %}
      <article>
        <h2>
          {{ category.label }}
        </h2>
        <p>
          {{ category.description }}
        </p>
        <a href="{{
          path(
            'app_category_details',
            {
              id: category.id
            }
          )
          }}">
          Voir les jeux correspondants
        </a>
      </article>
    {% endfor %}
  </div>
{% endblock %}
